.root{
-fx-background-color:#303138;
-fx-text-fill: white;

}

.button {

-fx-background-color:#282828;
-fx-text-fill: white;



}



.button:pressed {

-fx-background-color:#ff8080;




}


.label{
-fx-text-fill: white;

}
